In [1]:
import pandas as pd

In [3]:
pd.Series([5,2,2,2])

0    5
1    2
2    2
3    2
dtype: int64

In [7]:
pd.Series({
  'gg': 25,
  'f': 99
})

gg    25
f     99
dtype: int64

In [10]:
pd.DataFrame({
  'gg': [5,25],
  'f': [2,9]
})

   gg  f
0   5  2
1  25  9